{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section animate__animated animate__fadeIn">
            <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                    <small class="text-muted">{{ post.date_posted|date:"F d, Y" }}</small>
                </div>
                <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                <p class="article-content">{{ post.content|truncatewords:50 }}</p>
                <div class="post-interactions">
                    <button class="like-btn {% if user in post.likes.all %}liked{% endif %}" data-post-id="{{ post.id }}">
                        <i class="fas fa-heart"></i>
                        <span class="like-count">{{ post.likes.count }}</span>
                    </button>
                    <button class="bookmark-btn {% if user in post.bookmarks.all %}bookmarked{% endif %}" data-post-id="{{ post.id }}">
                        <i class="fas fa-bookmark"></i>
                        <span class="bookmark-count">{{ post.bookmarks.count }}</span>
                    </button>
                </div>
            </div>
        </article>
    {% endfor %}
    {% if is_paginated %}
        {% include 'blog/pagination.html' %}
    {% endif %}
{% endblock content %}